.context-menu-canvas {
    width           : 100vw;
    height          : 100vh;
    position        : absolute;
    top             : 0;
    left            : 0;
    background-color: rgba(0, 0, 255, 0.2);
}
.context-menu-form {
    width: 120px;
    min-height: 120px;
    background-color: white;
}
