.sticky-table-container {
    max-height: calc(100vh - 60px);
    width     : 100%;
    margin    : 0 auto;
    overflow-x: hidden;
    overflow-y: auto;

    scroll-snap-type: y mandatory;
    scroll-padding  : 40px;
    /* 40px - высота хедера */
}

.sticky-table-header {
    height          : 40px;
    border-right    : 1px solid blue;
    position        : sticky;
    background-color: white;
    top             : 0;
    z-index         : 1000;

    display   : flex;
    overflow-x: hidden;

    scroll-snap-align: start;
}

.sticky-table-header-cell {
    overflow       : hidden;
    border         : 1px solid blue;
    border-right   : none;
    font-family    : sans-serif;
    display        : flex;
    justify-content: center;
    align-content  : center;
    align-items    : center;
}

.sticky-table-row {
    min-height   : 30px;
    border-bottom: 1px solid gray;
    display      : flex;
    overflow     : hidden;

    scroll-snap-align: start;
}

.item {
    border-left: 1px solid gray;
    flex       : 1 0 150px;
    font       : 10pt sans-serif;
    padding    : 5px;
    white-space: nowrap;
}

.item-sticky {
    position        : sticky;
    left            : 0;
    background-color: lightyellow;
    order           : -1;
}

.sticky-table-x-scroll {
    height    : 16px;
    display   : flex;
    overflow-x: scroll;

    position: sticky;
    bottom  : 0;
}