.sticky-table-container {
    max-height: calc(100vh - 60px);
    width     : 100%;
    margin    : 0 auto;
    border    : 1px solid green;
    overflow-x: hidden;
    overflow-y: auto;
}

.sticky-table-header {
    height          : 200px;
    border          : 2px solid blue;
    position        : sticky;
    background-color: white;
    top             : 0;
    z-index         : 1000;

    display   : flex;
    overflow-x: hidden;
}

.sticky-table-row {
    height    : 200px;
    border    : 2px solid pink;
    display   : flex;
    overflow-x: hidden;
}

.item {
    border: 4px solid gray;
    margin: 2px;
    flex  : 1 0 150px;
}

.item-sticky {
    position        : sticky;
    left            : 0;
    background-color: lightyellow;
    order           : -1;
}

.sticky-table-x-scroll {
    height    : 20px;
    border    : 2px solid rgb(165, 144, 147);
    display   : flex;
    overflow-x: scroll;

    position: sticky;
    bottom  : 0;
}