.table-x-scroll-container {
    flex      : 1 1;
    max-height: calc(100vh - 70px);
    max-width : 1120px;

    display   : flex;
    overflow-x: scroll;
    overflow-y: hidden;


}

.table {
    display       : flex;
    flex-direction: column;

}

.table-header {
    text-align: center;
    display   : flex;
    flex      : 0 0 40px;
}

.table-header-cell {
    overflow       : hidden;
    border         : 1px solid blue;
    border-left    : none;
    font-family    : sans-serif;
    display        : flex;
    justify-content: center;
    align-content  : center;
    align-items    : center;
}

.table-body {
    display       : flex;
    flex-direction: column;
    overflow-y    : scroll;
}

.table-row {
    display      : flex;
    border-bottom: 1px solid gray;
    white-space  : nowrap;
}

.table-cell {
    border-right: 1px solid gray;
    overflow    : hidden;
    padding     : 5px;
    font        : 10pt sans-serif;

    /* запрет выхода текста за границу */
    /*overflow-x    : hidden;*/

    /*white-space : normal;*/
}